$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$error: "\e900";
$error_outline: "\e901";
$warningreport_problem: "\e902";
$add_alert: "\e903";
$notification_important: "\e904";
$album: "\e905";
$av_timer: "\e906";
$closed_caption: "\e907";
$equalizer: "\e908";
$explicit: "\e909";
$fast_forward: "\e90a";
$fast_rewind: "\e90b";
$gamesgamepad: "\e90c";
$hearing: "\e90d";
$high_quality: "\e90e";
$loopsync: "\e90f";
$mic: "\e910";
$mic_none: "\e911";
$mic_off: "\e912";
$moviemovie_creation: "\e913";
$library_addqueueadd_to_photos: "\e914";
$library_books: "\e915";
$library_music: "\e916";
$new_releases: "\e917";
$not_interesteddo_not_disturb: "\e918";
$pause: "\e919";
$pause_circle_filled: "\e91a";
$pause_circle_outline: "\e91b";
$play_arrow: "\e91c";
$play_circle_filled: "\e91d";
$play_circle_outline: "\e91e";
$playlist_add: "\e91f";
$queue_music: "\e920";
$radio: "\e921";
$recent_actors: "\e922";
$repeat: "\e923";
$repeat_one: "\e924";
$replay: "\e925";
$shuffle: "\e926";
$skip_next: "\e927";
$skip_previous: "\e928";
$snooze: "\e929";
$stop: "\e92a";
$subtitles: "\e92b";
$surround_sound: "\e92c";
$video_collection: "\e92d";
$videocam: "\e92e";
$videocam_off: "\e92f";
$volume_down: "\e930";
$volume_mute: "\e931";
$volume_off: "\e932";
$volume_up: "\e933";
$web: "\e934";
$hd: "\e935";
$sort_by_alpha: "\e936";
$airplay: "\e937";
$forward_10: "\e938";
$forward_30: "\e939";
$forward_5: "\e93a";
$replay_10: "\e93b";
$replay_30: "\e93c";
$replay_5: "\e93d";
$add_to_queue: "\e93e";
$fiber_dvr: "\e93f";
$fiber_new: "\e940";
$playlist_play: "\e941";
$art_track: "\e942";
$fiber_manual_record: "\e943";
$fiber_smart_record: "\e944";
$music_video: "\e945";
$subscriptions: "\e946";
$playlist_add_check: "\e947";
$queue_play_next: "\e948";
$remove_from_queue: "\e949";
$slow_motion_video: "\e94a";
$web_asset: "\e94b";
$fiber_pin: "\e94c";
$branding_watermark: "\e94d";
$call_to_action: "\e94e";
$featured_play_list: "\e94f";
$featured_video: "\e950";
$note: "\e951";
$video_call: "\e952";
$video_label: "\e953";
$4k: "\e954";
$missed_video_call: "\e955";
$control_camera: "\e956";
$businessdomain: "\e957";
$call: "\e958";
$call_end: "\e959";
$call_made: "\e95a";
$call_mergemerge_type: "\e95b";
$call_missed: "\e95c";
$call_received: "\e95d";
$call_split: "\e95e";
$chat: "\e95f";
$clear_all: "\e960";
$comment: "\e961";
$contacts: "\e962";
$dialer_sip: "\e963";
$dialpad: "\e964";
$emailmailmarkunreadlocal_post_office: "\e965";
$forumquestion_answer: "\e966";
$import_export: "\e967";
$invert_colors_off: "\e968";
$live_help: "\e969";
$location_off: "\e96a";
$location_onplaceroom: "\e96b";
$message: "\e96c";
$chat_bubble: "\e96d";
$chat_bubble_outline: "\e96e";
$no_simsignal_cellular_no_sim: "\e96f";
$phonelocal_phone: "\e970";
$portable_wifi_off: "\e971";
$contact_phone: "\e972";
$contact_mail: "\e973";
$ring_volume: "\e974";
$speaker_phone: "\e975";
$stay_current_landscapestay_primary_landscape: "\e976";
$stay_current_portraitstay_primary_portraitsmartphone: "\e977";
$swap_calls: "\e978";
$textsmssms: "\e979";
$voicemail: "\e97a";
$vpn_key: "\e97b";
$phonelink_erase: "\e97c";
$phonelink_lock: "\e97d";
$phonelink_ring: "\e97e";
$phonelink_setup: "\e97f";
$present_to_all: "\e980";
$import_contacts: "\e981";
$mail_outline: "\e982";
$screen_share: "\e983";
$stop_screen_share: "\e984";
$call_missed_outgoing: "\e985";
$rss_feed: "\e986";
$alternate_email: "\e987";
$mobile_screen_share: "\e988";
$add_call: "\e989";
$cancel_presentation: "\e98a";
$pause_presentation: "\e98b";
$unsubscribe: "\e98c";
$cell_wifi: "\e98d";
$sentiment_satisfied_alt: "\e98e";
$list_alt: "\e98f";
$domain_disabled: "\e990";
$lightbulb: "\e991";
$add: "\e992";
$add_box: "\e993";
$add_circle: "\e994";
$add_circle_outlinecontrol_point: "\e995";
$archive: "\e996";
$backspace: "\e997";
$block: "\e998";
$clearclose: "\e999";
$content_copy: "\e99a";
$content_cut: "\e99b";
$content_paste: "\e99c";
$createmode_editedit: "\e99d";
$drafts: "\e99e";
$filter_list: "\e99f";
$flagassistant_photo: "\e9a0";
$forward: "\e9a1";
$gesture: "\e9a2";
$inbox: "\e9a3";
$linkinsert_link: "\e9a4";
$redo: "\e9a5";
$remove: "\e9a6";
$remove_circledo_not_disturb_on: "\e9a7";
$remove_circle_outline: "\e9a8";
$reply: "\e9a9";
$reply_all: "\e9aa";
$report: "\e9ab";
$save: "\e9ac";
$select_all: "\e9ad";
$send: "\e9ae";
$sort: "\e9af";
$text_format: "\e9b0";
$undo: "\e9b1";
$font_download: "\e9b2";
$move_to_inbox: "\e9b3";
$unarchive: "\e9b4";
$next_week: "\e9b5";
$weekend: "\e9b6";
$delete_sweep: "\e9b7";
$low_priority: "\e9b8";
$outlined_flag: "\e9b9";
$link_off: "\e9ba";
$report_off: "\e9bb";
$save_alt: "\e9bc";
$ballot: "\e9bd";
$file_copy: "\e9be";
$how_to_reg: "\e9bf";
$how_to_vote: "\e9c0";
$waves: "\e9c1";
$where_to_vote: "\e9c2";
$add_link: "\e9c3";
$inventory: "\e9c4";
$access_alarmalarm: "\e9c5";
$access_alarms: "\e9c6";
$access_timequery_builderschedule: "\e9c7";
$add_alarmalarm_add: "\e9c8";
$airplanemode_inactive: "\e9c9";
$airplanemode_activeflightlocal_airport: "\e9ca";
$battery_alert: "\e9cb";
$battery_charging_full: "\e9cc";
$battery_fullbattery_std: "\e9cd";
$battery_unknown: "\e9ce";
$bluetooth: "\e9cf";
$bluetooth_connected: "\e9d0";
$bluetooth_disabled: "\e9d1";
$bluetooth_searchingbluetooth_audio: "\e9d2";
$brightness_auto: "\e9d3";
$brightness_highbrightness_7: "\e9d4";
$brightness_lowbrightness_5: "\e9d5";
$brightness_mediumbrightness_6: "\e9d6";
$data_usage: "\e9d7";
$developer_mode: "\e9d8";
$devicesphonelink: "\e9d9";
$dvr: "\e9da";
$gps_fixedmy_location: "\e9db";
$gps_not_fixedlocation_searching: "\e9dc";
$gps_offlocation_disabled: "\e9dd";
$graphic_eq: "\e9de";
$network_cell: "\e9df";
$network_wifi: "\e9e0";
$nfc: "\e9e1";
$now_wallpaper: "\e9e2";
$now_widgets: "\e9e3";
$screen_lock_landscape: "\e9e4";
$screen_lock_portrait: "\e9e5";
$screen_lock_rotation: "\e9e6";
$screen_rotation: "\e9e7";
$sd_storagesd_card: "\e9e8";
$settings_system_daydream: "\e9e9";
$signal_cellular_4_bar: "\e9ea";
$signal_cellular_connected_no_internet_4_bar: "\e9eb";
$signal_cellular_null: "\e9ec";
$signal_cellular_off: "\e9ed";
$signal_wifi_4_bar: "\e9ee";
$signal_wifi_4_bar_lock: "\e9ef";
$signal_wifi_off: "\e9f0";
$storage: "\e9f1";
$usb: "\e9f2";
$wifi_lock: "\e9f3";
$wifi_tethering: "\e9f4";
$add_to_home_screen: "\e9f5";
$device_thermostat: "\e9f6";
$mobile_friendly: "\e9f7";
$mobile_off: "\e9f8";
$signal_cellular_alt: "\e9f9";
$attach_file: "\e9fa";
$attach_money: "\e9fb";
$border_all: "\e9fc";
$border_bottom: "\e9fd";
$border_clear: "\e9fe";
$border_color: "\e9ff";
$border_horizontal: "\ea00";
$border_inner: "\ea01";
$border_left: "\ea02";
$border_outer: "\ea03";
$border_right: "\ea04";
$border_style: "\ea05";
$border_top: "\ea06";
$border_vertical: "\ea07";
$format_align_center: "\ea08";
$format_align_justify: "\ea09";
$format_align_left: "\ea0a";
$format_align_right: "\ea0b";
$format_bold: "\ea0c";
$format_clear: "\ea0d";
$format_color_fill: "\ea0e";
$format_color_reset: "\ea0f";
$format_color_text: "\ea10";
$format_indent_decrease: "\ea11";
$format_indent_increase: "\ea12";
$format_italic: "\ea13";
$format_line_spacing: "\ea14";
$format_list_bulleted: "\ea15";
$format_list_numbered: "\ea16";
$format_paint: "\ea17";
$format_quote: "\ea18";
$format_size: "\ea19";
$format_strikethrough: "\ea1a";
$format_textdirection_l_to_r: "\ea1b";
$format_textdirection_r_to_l: "\ea1c";
$format_underlined: "\ea1d";
$functions: "\ea1e";
$insert_chartpollassessment: "\ea1f";
$insert_comment: "\ea20";
$insert_drive_file: "\ea21";
$insert_emoticontag_facesmood: "\ea22";
$insert_invitationevent: "\ea23";
$insert_photoimagephoto: "\ea24";
$mode_comment: "\ea25";
$publish: "\ea26";
$space_bar: "\ea27";
$strikethrough_s: "\ea28";
$vertical_align_bottom: "\ea29";
$vertical_align_center: "\ea2a";
$vertical_align_top: "\ea2b";
$wrap_text: "\ea2c";
$money_off: "\ea2d";
$drag_handle: "\ea2e";
$format_shapes: "\ea2f";
$highlight: "\ea30";
$linear_scale: "\ea31";
$short_text: "\ea32";
$text_fields: "\ea33";
$monetization_on: "\ea34";
$title: "\ea35";
$table_chart: "\ea36";
$add_comment: "\ea37";
$format_list_numbered_rtl: "\ea38";
$scatter_plot: "\ea39";
$score: "\ea3a";
$insert_chart_outlined: "\ea3b";
$bar_chart: "\ea3c";
$notes: "\ea3d";
$attachment: "\ea3e";
$cloud: "\ea3f";
$cloud_circle: "\ea40";
$cloud_done: "\ea41";
$cloud_download: "\ea42";
$cloud_off: "\ea43";
$cloud_queue: "\ea44";
$cloud_uploadbackup: "\ea45";
$file_downloadget_app: "\ea46";
$file_upload: "\ea47";
$folder: "\ea48";
$folder_open: "\ea49";
$folder_shared: "\ea4a";
$create_new_folder: "\ea4b";
$cast: "\ea4c";
$cast_connected: "\ea4d";
$computerlaptop: "\ea4e";
$desktop_mac: "\ea4f";
$desktop_windows: "\ea50";
$developer_board: "\ea51";
$dock: "\ea52";
$headset: "\ea53";
$headset_mic: "\ea54";
$keyboard: "\ea55";
$keyboard_arrow_down: "\ea56";
$keyboard_arrow_left: "\ea57";
$keyboard_arrow_right: "\ea58";
$keyboard_arrow_up: "\ea59";
$keyboard_backspace: "\ea5a";
$keyboard_capslock: "\ea5b";
$keyboard_hide: "\ea5c";
$keyboard_return: "\ea5d";
$keyboard_tab: "\ea5e";
$keyboard_voice: "\ea5f";
$laptop_chromebook: "\ea60";
$laptop_mac: "\ea61";
$laptop_windows: "\ea62";
$memory: "\ea63";
$mouse: "\ea64";
$phone_android: "\ea65";
$phone_iphone: "\ea66";
$phonelink_off: "\ea67";
$router: "\ea68";
$scanner: "\ea69";
$security: "\ea6a";
$sim_card: "\ea6b";
$speaker: "\ea6c";
$speaker_group: "\ea6d";
$tablet: "\ea6e";
$tablet_android: "\ea6f";
$tablet_mac: "\ea70";
$toys: "\ea71";
$tv: "\ea72";
$watch: "\ea73";
$device_hub: "\ea74";
$power_input: "\ea75";
$devices_other: "\ea76";
$videogame_asset: "\ea77";
$device_unknown: "\ea78";
$headset_off: "\ea79";
$adjust: "\ea7a";
$assistant: "\ea7b";
$audiotrack: "\ea7c";
$blur_circular: "\ea7d";
$blur_linear: "\ea7e";
$blur_off: "\ea7f";
$blur_on: "\ea80";
$brightness_1: "\ea81";
$brightness_2: "\ea82";
$brightness_3: "\ea83";
$brightness_4: "\ea84";
$broken_image: "\ea85";
$brush: "\ea86";
$camera: "\ea87";
$camera_altphoto_cameralocal_see: "\ea88";
$camera_front: "\ea89";
$camera_rear: "\ea8a";
$camera_roll: "\ea8b";
$center_focus_strong: "\ea8c";
$center_focus_weak: "\ea8d";
$collectionsphoto_library: "\ea8e";
$color_lenspalette: "\ea8f";
$colorize: "\ea90";
$compare: "\ea91";
$control_point_duplicate: "\ea92";
$crop_16_9: "\ea93";
$crop_3_2: "\ea94";
$crop: "\ea95";
$crop_5_4crop_landscape: "\ea96";
$crop_7_5: "\ea97";
$crop_din: "\ea98";
$crop_free: "\ea99";
$crop_original: "\ea9a";
$crop_portrait: "\ea9b";
$crop_square: "\ea9c";
$dehaze: "\ea9d";
$details: "\ea9e";
$exposure: "\ea9f";
$exposure_minus_1: "\eaa0";
$exposure_minus_2: "\eaa1";
$exposure_plus_1: "\eaa2";
$exposure_plus_2: "\eaa3";
$exposure_zero: "\eaa4";
$filter_1: "\eaa5";
$filter_2: "\eaa6";
$filter_3: "\eaa7";
$filter: "\eaa8";
$filter_4: "\eaa9";
$filter_5: "\eaaa";
$filter_6: "\eaab";
$filter_7: "\eaac";
$filter_8: "\eaad";
$filter_9: "\eaae";
$filter_9_plus: "\eaaf";
$filter_b_and_w: "\eab0";
$filter_center_focus: "\eab1";
$filter_drama: "\eab2";
$filter_frames: "\eab3";
$filter_hdrlandscapeterrain: "\eab4";
$filter_none: "\eab5";
$filter_tilt_shift: "\eab6";
$filter_vintage: "\eab7";
$flare: "\eab8";
$flash_auto: "\eab9";
$flash_off: "\eaba";
$flash_on: "\eabb";
$flip: "\eabc";
$gradient: "\eabd";
$grain: "\eabe";
$grid_off: "\eabf";
$grid_on: "\eac0";
$hdr_off: "\eac1";
$hdr_on: "\eac2";
$hdr_strong: "\eac3";
$hdr_weak: "\eac4";
$healing: "\eac5";
$image_aspect_ratio: "\eac6";
$iso: "\eac7";
$leak_add: "\eac8";
$leak_remove: "\eac9";
$lens: "\eaca";
$looks_3: "\eacb";
$looks: "\eacc";
$looks_4: "\eacd";
$looks_5: "\eace";
$looks_6: "\eacf";
$looks_one: "\ead0";
$looks_two: "\ead1";
$loupe: "\ead2";
$monochrome_photos: "\ead3";
$music_note: "\ead4";
$nature: "\ead5";
$nature_people: "\ead6";
$navigate_beforechevron_left: "\ead7";
$navigate_nextchevron_right: "\ead8";
$panorama: "\ead9";
$panorama_fish_eyeradio_button_unchecked: "\eada";
$panorama_horizontal: "\eadb";
$panorama_vertical: "\eadc";
$panorama_wide_angle: "\eadd";
$photo_album: "\eade";
$picture_as_pdf: "\eadf";
$portrait: "\eae0";
$remove_red_eyevisibility: "\eae1";
$rotate_90_degrees_ccw: "\eae2";
$rotate_left: "\eae3";
$rotate_right: "\eae4";
$slideshow: "\eae5";
$straighten: "\eae6";
$style: "\eae7";
$switch_camera: "\eae8";
$switch_video: "\eae9";
$texture: "\eaea";
$timelapse: "\eaeb";
$timer_10: "\eaec";
$timer_3: "\eaed";
$timer: "\eaee";
$timer_off: "\eaef";
$tonality: "\eaf0";
$transform: "\eaf1";
$tune: "\eaf2";
$view_comfortable: "\eaf3";
$view_compact: "\eaf4";
$wb_auto: "\eaf5";
$wb_cloudy: "\eaf6";
$wb_incandescent: "\eaf7";
$wb_sunny: "\eaf8";
$collections_bookmark: "\eaf9";
$photo_size_select_actual: "\eafa";
$photo_size_select_large: "\eafb";
$photo_size_select_small: "\eafc";
$vignette: "\eafd";
$wb_iridescent: "\eafe";
$crop_rotate: "\eaff";
$linked_camera: "\eb00";
$add_a_photo: "\eb01";
$movie_filter: "\eb02";
$photo_filter: "\eb03";
$burst_mode: "\eb04";
$shutter_speed: "\eb05";
$add_photo_alternate: "\eb06";
$image_search: "\eb07";
$music_off: "\eb08";
$beenhere: "\eb09";
$directions: "\eb0a";
$directions_bike: "\eb0b";
$directions_bus: "\eb0c";
$directions_car: "\eb0d";
$directions_ferry: "\eb0e";
$directions_subwaydirections_transit: "\eb0f";
$directions_railway: "\eb10";
$directions_walk: "\eb11";
$hotellocal_hotel: "\eb12";
$layers: "\eb13";
$layers_clear: "\eb14";
$local_atm: "\eb15";
$local_attractionlocal_play: "\eb16";
$local_bar: "\eb17";
$local_cafefree_breakfast: "\eb18";
$local_car_wash: "\eb19";
$local_convenience_store: "\eb1a";
$local_drink: "\eb1b";
$local_florist: "\eb1c";
$local_gas_station: "\eb1d";
$local_grocery_storeshopping_cart: "\eb1e";
$local_hospital: "\eb1f";
$local_laundry_service: "\eb20";
$local_library: "\eb21";
$local_mall: "\eb22";
$local_moviestheaters: "\eb23";
$local_offer: "\eb24";
$local_parking: "\eb25";
$local_pharmacy: "\eb26";
$local_pizza: "\eb27";
$local_print_shopprint: "\eb28";
$local_restaurantrestaurant_menu: "\eb29";
$local_shipping: "\eb2a";
$local_taxi: "\eb2b";
$location_history: "\eb2c";
$map: "\eb2d";
$navigation: "\eb2e";
$pin_drop: "\eb2f";
$rate_review: "\eb30";
$satellite: "\eb31";
$store_mall_directorystore: "\eb32";
$traffic: "\eb33";
$directions_run: "\eb34";
$add_location: "\eb35";
$edit_location: "\eb36";
$near_me: "\eb37";
$person_pin_circle: "\eb38";
$zoom_out_map: "\eb39";
$restaurant: "\eb3a";
$ev_station: "\eb3b";
$streetview: "\eb3c";
$subway: "\eb3d";
$train: "\eb3e";
$tram: "\eb3f";
$transfer_within_a_station: "\eb40";
$atm: "\eb41";
$category: "\eb42";
$not_listed_location: "\eb43";
$departure_board: "\eb44";
$360: "\eb45";
$edit_attributes: "\eb46";
$transit_enterexit: "\eb47";
$fastfood: "\eb48";
$trip_origin: "\eb49";
$compass_calibration: "\eb4a";
$money: "\eb4b";
$apps: "\eb4c";
$arrow_back: "\eb4d";
$arrow_drop_down: "\eb4e";
$arrow_drop_down_circle: "\eb4f";
$arrow_drop_up: "\eb50";
$arrow_forward: "\eb51";
$cancel: "\eb52";
$check: "\eb53";
$expand_less: "\eb54";
$expand_more: "\eb55";
$fullscreen: "\eb56";
$fullscreen_exit: "\eb57";
$menu: "\eb58";
$keyboard_control: "\eb59";
$more_vert: "\eb5a";
$refresh: "\eb5b";
$unfold_less: "\eb5c";
$unfold_more: "\eb5d";
$arrow_upward: "\eb5e";
$subdirectory_arrow_left: "\eb5f";
$subdirectory_arrow_right: "\eb60";
$arrow_downward: "\eb61";
$first_page: "\eb62";
$last_page: "\eb63";
$arrow_left: "\eb64";
$arrow_right: "\eb65";
$arrow_back_ios: "\eb66";
$arrow_forward_ios: "\eb67";
$adb: "\eb68";
$disc_full: "\eb69";
$do_not_disturb_alt: "\eb6a";
$drive_etatime_to_leave: "\eb6b";
$event_available: "\eb6c";
$event_busy: "\eb6d";
$event_note: "\eb6e";
$folder_special: "\eb6f";
$mms: "\eb70";
$more: "\eb71";
$network_locked: "\eb72";
$phone_bluetooth_speaker: "\eb73";
$phone_forwarded: "\eb74";
$phone_in_talk: "\eb75";
$phone_locked: "\eb76";
$phone_missed: "\eb77";
$phone_paused: "\eb78";
$sim_card_alert: "\eb79";
$sms_failedfeedback: "\eb7a";
$sync_disabled: "\eb7b";
$sync_problem: "\eb7c";
$system_update: "\eb7d";
$tap_and_play: "\eb7e";
$vibration: "\eb7f";
$voice_chat: "\eb80";
$vpn_lock: "\eb81";
$airline_seat_flat: "\eb82";
$airline_seat_flat_angled: "\eb83";
$airline_seat_individual_suite: "\eb84";
$airline_seat_legroom_extra: "\eb85";
$airline_seat_legroom_normal: "\eb86";
$airline_seat_legroom_reduced: "\eb87";
$airline_seat_recline_extra: "\eb88";
$airline_seat_recline_normal: "\eb89";
$confirmation_number: "\eb8a";
$live_tv: "\eb8b";
$ondemand_video: "\eb8c";
$personal_video: "\eb8d";
$power: "\eb8e";
$wc: "\eb8f";
$wifi: "\eb90";
$enhanced_encryption: "\eb91";
$network_check: "\eb92";
$no_encryption: "\eb93";
$rv_hookup: "\eb94";
$do_not_disturb_off: "\eb95";
$priority_high: "\eb96";
$power_off: "\eb97";
$tv_off: "\eb98";
$wifi_off: "\eb99";
$phone_callback: "\eb9a";
$pie_chart: "\eb9b";
$pie_chart_outlined: "\eb9c";
$bubble_chart: "\eb9d";
$multiline_chart: "\eb9e";
$show_chart: "\eb9f";
$cake: "\eba0";
$grouppeople: "\eba1";
$group_add: "\eba2";
$location_city: "\eba3";
$mood_bad: "\eba4";
$notifications: "\eba5";
$notifications_none: "\eba6";
$notifications_off: "\eba7";
$notifications_active: "\eba8";
$notifications_paused: "\eba9";
$pages: "\ebaa";
$party_mode: "\ebab";
$people_outline: "\ebac";
$person: "\ebad";
$person_add: "\ebae";
$person_outlineperm_identity: "\ebaf";
$plus_one: "\ebb0";
$public: "\ebb1";
$school: "\ebb2";
$share: "\ebb3";
$whatshot: "\ebb4";
$sentiment_dissatisfied: "\ebb5";
$sentiment_neutral: "\ebb6";
$sentiment_satisfied: "\ebb7";
$sentiment_very_dissatisfied: "\ebb8";
$sentiment_very_satisfied: "\ebb9";
$thumb_down_alt: "\ebba";
$thumb_up_alt: "\ebbb";
$check_box: "\ebbc";
$check_box_outline_blank: "\ebbd";
$radio_button_checked: "\ebbe";
$stargrade: "\ebbf";
$star_half: "\ebc0";
$star_outline: "\ebc1";
$3d_rotation: "\ebc2";
$accessibility: "\ebc3";
$account_balance: "\ebc4";
$account_balance_wallet: "\ebc5";
$account_box: "\ebc6";
$account_circle: "\ebc7";
$add_shopping_cart: "\ebc8";
$alarm_off: "\ebc9";
$alarm_on: "\ebca";
$android: "\ebcb";
$announcement: "\ebcc";
$aspect_ratio: "\ebcd";
$assignment: "\ebce";
$assignment_ind: "\ebcf";
$assignment_late: "\ebd0";
$assignment_return: "\ebd1";
$assignment_returned: "\ebd2";
$assignment_turned_in: "\ebd3";
$autorenew: "\ebd4";
$bookclass: "\ebd5";
$bookmarkturned_in: "\ebd6";
$bookmark_outlineturned_in_not: "\ebd7";
$bug_report: "\ebd8";
$build: "\ebd9";
$cached: "\ebda";
$change_history: "\ebdb";
$check_circle: "\ebdc";
$chrome_reader_mode: "\ebdd";
$code: "\ebde";
$credit_cardpayment: "\ebdf";
$dashboard: "\ebe0";
$delete: "\ebe1";
$description: "\ebe2";
$dns: "\ebe3";
$done: "\ebe4";
$done_all: "\ebe5";
$exit_to_app: "\ebe6";
$explore: "\ebe7";
$extension: "\ebe8";
$face: "\ebe9";
$favorite: "\ebea";
$favorite_outline: "\ebeb";
$find_in_page: "\ebec";
$find_replace: "\ebed";
$flip_to_back: "\ebee";
$flip_to_front: "\ebef";
$group_work: "\ebf0";
$help: "\ebf1";
$highlight_remove: "\ebf2";
$historyrestore: "\ebf3";
$home: "\ebf4";
$hourglass_empty: "\ebf5";
$hourglass_full: "\ebf6";
$httpslock: "\ebf7";
$info: "\ebf8";
$info_outline: "\ebf9";
$input: "\ebfa";
$invert_colors_on: "\ebfb";
$label: "\ebfc";
$label_outline: "\ebfd";
$language: "\ebfe";
$launchopen_in_new: "\ebff";
$list: "\ec00";
$lock_open: "\ec01";
$lock_outline: "\ec02";
$loyalty: "\ec03";
$markunread_mailbox: "\ec04";
$note_add: "\ec05";
$open_in_browser: "\ec06";
$open_with: "\ec07";
$pageview: "\ec08";
$perm_camera_mic: "\ec09";
$perm_contact_calendar: "\ec0a";
$perm_data_setting: "\ec0b";
$perm_device_information: "\ec0c";
$perm_media: "\ec0d";
$perm_phone_msg: "\ec0e";
$perm_scan_wifi: "\ec0f";
$picture_in_picture: "\ec10";
$polymer: "\ec11";
$power_settings_new: "\ec12";
$receipt: "\ec13";
$redeemcard_giftcard: "\ec14";
$search: "\ec15";
$settings: "\ec16";
$settings_applications: "\ec17";
$settings_backup_restore: "\ec18";
$settings_bluetooth: "\ec19";
$settings_cell: "\ec1a";
$settings_brightness: "\ec1b";
$settings_ethernet: "\ec1c";
$settings_input_antenna: "\ec1d";
$settings_input_componentsettings_input_composite: "\ec1e";
$settings_input_hdmi: "\ec1f";
$settings_input_svideo: "\ec20";
$settings_overscan: "\ec21";
$settings_phone: "\ec22";
$settings_power: "\ec23";
$settings_remote: "\ec24";
$settings_voice: "\ec25";
$shop: "\ec26";
$shop_two: "\ec27";
$shopping_basket: "\ec28";
$speaker_notes: "\ec29";
$spellcheck: "\ec2a";
$stars: "\ec2b";
$subject: "\ec2c";
$supervisor_account: "\ec2d";
$swap_horiz: "\ec2e";
$swap_vert: "\ec2f";
$swap_vertical_circle: "\ec30";
$system_update_alt: "\ec31";
$tab: "\ec32";
$tab_unselected: "\ec33";
$thumb_down: "\ec34";
$thumb_up: "\ec35";
$thumbs_up_down: "\ec36";
$toc: "\ec37";
$today: "\ec38";
$toll: "\ec39";
$track_changes: "\ec3a";
$translate: "\ec3b";
$trending_down: "\ec3c";
$trending_neutral: "\ec3d";
$trending_up: "\ec3e";
$verified_user: "\ec3f";
$view_agenda: "\ec40";
$view_array: "\ec41";
$view_carousel: "\ec42";
$view_column: "\ec43";
$view_day: "\ec44";
$view_headline: "\ec45";
$view_list: "\ec46";
$view_module: "\ec47";
$view_quilt: "\ec48";
$view_stream: "\ec49";
$view_week: "\ec4a";
$visibility_off: "\ec4b";
$card_membership: "\ec4c";
$card_travel: "\ec4d";
$work: "\ec4e";
$youtube_searched_for: "\ec4f";
$eject: "\ec50";
$camera_enhance: "\ec51";
$help_outline: "\ec52";
$reorder: "\ec53";
$zoom_in: "\ec54";
$zoom_out: "\ec55";
$http: "\ec56";
$event_seat: "\ec57";
$flight_land: "\ec58";
$flight_takeoff: "\ec59";
$play_for_work: "\ec5a";
$gif: "\ec5b";
$indeterminate_check_box: "\ec5c";
$offline_pin: "\ec5d";
$all_out: "\ec5e";
$copyright: "\ec5f";
$fingerprint: "\ec60";
$gavel: "\ec61";
$lightbulb_outline: "\ec62";
$picture_in_picture_alt: "\ec63";
$important_devices: "\ec64";
$touch_app: "\ec65";
$accessible: "\ec66";
$compare_arrows: "\ec67";
$date_range: "\ec68";
$donut_large: "\ec69";
$donut_small: "\ec6a";
$line_style: "\ec6b";
$line_weight: "\ec6c";
$motorcycle: "\ec6d";
$opacity: "\ec6e";
$pets: "\ec6f";
$pregnant_woman: "\ec70";
$record_voice_over: "\ec71";
$rounded_corner: "\ec72";
$rowing: "\ec73";
$timeline: "\ec74";
$update: "\ec75";
$watch_later: "\ec76";
$pan_tool: "\ec77";
$euro_symbol: "\ec78";
$g_translate: "\ec79";
$remove_shopping_cart: "\ec7a";
$restore_page: "\ec7b";
$speaker_notes_off: "\ec7c";
$delete_forever: "\ec7d";
$accessibility_new: "\ec7e";
$check_circle_outline: "\ec7f";
$delete_outline: "\ec80";
$done_outline: "\ec81";
$maximize: "\ec82";
$minimize: "\ec83";
$offline_bolt: "\ec84";
$swap_horizontal_circle: "\ec85";
$accessible_forward: "\ec86";
$calendar_today: "\ec87";
$calendar_view_day: "\ec88";
$label_important: "\ec89";
$restore_from_trash: "\ec8a";
$supervised_user_circle: "\ec8b";
$text_rotate_up: "\ec8c";
$text_rotate_vertical: "\ec8d";
$text_rotation_angledown: "\ec8e";
$text_rotation_angleup: "\ec8f";
$text_rotation_down: "\ec90";
$text_rotation_none: "\ec91";
$commute: "\ec92";
$arrow_right_alt: "\ec93";
$work_off: "\ec94";
$work_outline: "\ec95";
$drag_indicator: "\ec96";
$horizontal_split: "\ec97";
$label_important_outline: "\ec98";
$vertical_split: "\ec99";
$voice_over_off: "\ec9a";
$segment: "\ec9b";
$contact_support: "\ec9c";
$compress: "\ec9d";
$filter_list_alt: "\ec9e";
$expand: "\ec9f";
$edit_off: "\eca0";
$10k: "\eca1";
$10mp: "\eca2";
$11mp: "\eca3";
$12mp: "\eca4";
$13mp: "\eca5";
$14mp: "\eca6";
$15mp: "\eca7";
$16mp: "\eca8";
$17mp: "\eca9";
$18mp: "\ecaa";
$19mp: "\ecab";
$1k: "\ecac";
$1k_plus: "\ecad";
$20mp: "\ecae";
$21mp: "\ecaf";
$22mp: "\ecb0";
$23mp: "\ecb1";
$24mp: "\ecb2";
$2k: "\ecb3";
$2k_plus: "\ecb4";
$2mp: "\ecb5";
$3k: "\ecb6";
$3k_plus: "\ecb7";
$3mp: "\ecb8";
$4k_plus: "\ecb9";
$4mp: "\ecba";
$5k: "\ecbb";
$5k_plus: "\ecbc";
$5mp: "\ecbd";
$6k: "\ecbe";
$6k_plus: "\ecbf";
$6mp: "\ecc0";
$7k: "\ecc1";
$7k_plus: "\ecc2";
$7mp: "\ecc3";
$8k: "\ecc4";
$8k_plus: "\ecc5";
$8mp: "\ecc6";
$9k: "\ecc7";
$9k_plus: "\ecc8";
$9mp: "\ecc9";
$account_tree: "\ecca";
$add_chart: "\eccb";
$add_ic_call: "\eccc";
$add_moderator: "\eccd";
$all_inbox: "\ecce";
$approval: "\eccf";
$assistant_direction: "\ecd0";
$assistant_navigation: "\ecd1";
$bookmarks: "\ecd2";
$bus_alert: "\ecd3";
$cases: "\ecd4";
$circle_notifications: "\ecd5";
$closed_caption_off: "\ecd6";
$connected_tv: "\ecd7";
$dangerous: "\ecd8";
$dashboard_customize: "\ecd9";
$desktop_access_disabled: "\ecda";
$drive_file_move_outline: "\ecdb";
$drive_file_rename_outline: "\ecdc";
$drive_folder_upload: "\ecdd";
$duo: "\ecde";
$explore_off: "\ecdf";
$file_download_done: "\ece0";
$rtt: "\ece1";
$grid_view: "\ece2";
$hail: "\ece3";
$home_filled: "\ece4";
$imagesearch_roller: "\ece5";
$label_off: "\ece6";
$library_add_check: "\ece7";
$logout: "\ece8";
$margin: "\ece9";
$mark_as_unread: "\ecea";
$menu_open: "\eceb";
$mp: "\ecec";
$offline_share: "\eced";
$padding: "\ecee";
$panorama_photosphere: "\ecef";
$panorama_photosphere_select: "\ecf0";
$person_add_disabled: "\ecf1";
$phone_disabled: "\ecf2";
$phone_enabled: "\ecf3";
$pivot_table_chart: "\ecf4";
$print_disabled: "\ecf5";
$railway_alert: "\ecf6";
$recommend: "\ecf7";
$remove_done: "\ecf8";
$remove_moderator: "\ecf9";
$repeat_on: "\ecfa";
$repeat_one_on: "\ecfb";
$replay_circle_filled: "\ecfc";
$reset_tv: "\ecfd";
$sd: "\ecfe";
$shield: "\ecff";
$shuffle_on: "\ed00";
$speed: "\ed01";
$stacked_bar_chart: "\ed02";
$stream: "\ed03";
$swipe: "\ed04";
$switch_account: "\ed05";
$tag: "\ed06";
$thumb_down_off_alt: "\ed07";
$thumb_up_off_alt: "\ed08";
$toggle_off: "\ed09";
$toggle_on: "\ed0a";
$two_wheeler: "\ed0b";
$upload_file: "\ed0c";
$view_in_ar: "\ed0d";
$waterfall_chart: "\ed0e";
$wb_shade: "\ed0f";
$wb_twighlight: "\ed10";
$home_work: "\ed11";
$schedule_send: "\ed12";
$bolt: "\ed13";
$send_and_archive: "\ed14";
$workspaces_filled: "\ed15";
$file_present: "\ed16";
$workspaces_outline: "\ed17";
$fit_screen: "\ed18";
$saved_search: "\ed19";
$storefront: "\ed1a";
$amp_stories: "\ed1b";
$dynamic_feed: "\ed1c";
$euro: "\ed1d";
$height: "\ed1e";
$policy: "\ed1f";
$sync_alt: "\ed20";
$menu_book: "\ed21";
$emoji_flags: "\ed22";
$emoji_food_beverage: "\ed23";
$emoji_nature: "\ed24";
$emoji_people: "\ed25";
$emoji_symbols: "\ed26";
$emoji_transportation: "\ed27";
$post_add: "\ed28";
$people_alt: "\ed29";
$emoji_emotions: "\ed2a";
$emoji_events: "\ed2b";
$emoji_objects: "\ed2c";
$sports_basketball: "\ed2d";
$sports_cricket: "\ed2e";
$sports_esports: "\ed2f";
$sports_football: "\ed30";
$sports_golf: "\ed31";
$sports_hockey: "\ed32";
$sports_mma: "\ed33";
$sports_motorsports: "\ed34";
$sports_rugby: "\ed35";
$sports_soccer: "\ed36";
$sports: "\ed37";
$sports_volleyball: "\ed38";
$sports_tennis: "\ed39";
$sports_handball: "\ed3a";
$sports_kabaddi: "\ed3b";
$eco: "\ed3c";
$museum: "\ed3d";
$flip_camera_android: "\ed3e";
$flip_camera_ios: "\ed3f";
$cancel_schedule_send: "\ed40";
$apartment: "\ed41";
$bathtub: "\ed42";
$deck: "\ed43";
$fireplace: "\ed44";
$house: "\ed45";
$king_bed: "\ed46";
$nights_stay: "\ed47";
$outdoor_grill: "\ed48";
$single_bed: "\ed49";
$square_foot: "\ed4a";
$double_arrow: "\ed4b";
$sports_baseball: "\ed4c";
$attractions: "\ed4d";
$bakery_dining: "\ed4e";
$breakfast_dining: "\ed4f";
$car_rental: "\ed50";
$car_repair: "\ed51";
$dinner_dining: "\ed52";
$dry_cleaning: "\ed53";
$hardware: "\ed54";
$liquor: "\ed55";
$lunch_dining: "\ed56";
$nightlife: "\ed57";
$park: "\ed58";
$ramen_dining: "\ed59";
$celebration: "\ed5a";
$theater_comedy: "\ed5b";
$badge: "\ed5c";
$festival: "\ed5d";
$icecream: "\ed5e";
$volunteer_activism: "\ed5f";
$contactless: "\ed60";
$delivery_dining: "\ed61";
$brunch_dining: "\ed62";
$takeout_dining: "\ed63";
$ac_unit: "\ed64";
$airport_shuttle: "\ed65";
$all_inclusive: "\ed66";
$beach_access: "\ed67";
$business_center: "\ed68";
$casino: "\ed69";
$child_care: "\ed6a";
$child_friendly: "\ed6b";
$fitness_center: "\ed6c";
$golf_course: "\ed6d";
$hot_tub: "\ed6e";
$kitchen: "\ed6f";
$pool: "\ed70";
$room_service: "\ed71";
$smoke_free: "\ed72";
$smoking_rooms: "\ed73";
$spa: "\ed74";
$no_meeting_room: "\ed75";
$meeting_room: "\ed76";
$goat: "\ed77";

