.border {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 10px;
  text-align: center;
  font-size: 32px;
}

.outline {
  border: 1px solid #999;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}